<!DOCTYPE html>
<html ng-app="gymApp">
<head>
    <script src="../Scripts/angular.min.js"></script>
    <!--<script src="../Scripts/bootstrap.min.js"></script>-->
    <!--<script src="../Scripts/angular-ui/ui-bootstrap.js"></script>-->
    <!--<script src="../Scripts/jquery-2.1.4.min.js"></script>-->
    <script src="../Controllers/MainController.js"></script>
    <!--<link href="../Content/bootstrap.min.css" rel="stylesheet" />-->
    <!--<link href="../Content/ui-bootstrap-csp.css" rel="stylesheet" />-->
    
</head>
<body ng-controller="MainController">
    {{message}}
    <button type="button">Button</button>
</body>
</html>
